<div class="backdrop-about-modal js-about-modal">
  <div class="about-modal">
    <p class="about-modal_title"></p>
    <img class="logo-creators" src="/src/images/logo-JS-POWERTEAM.png" alt="Irina" />
    <button class="about-modal__btn js-close-about-modal" type="button">
      <svg width="30" height="30">
        <use href="./images/icons-modal.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="about-modal__list swiper-wrapper">
      <li class="about-modal__item">
        <div class="about-modal__img">
          <img src="/src/images/team_Irina.jpg" alt="Irina" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Irina</p>
          <p class="about-modal__text--position">Team lead</p>
          <a href="https://github.com/Iryna-Tyshchuk" target="_blank">
            <svg width="24" height="24">
              <use href="./images/github-icon.svg#github-icon"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="about-modal__item">
        <div class="about-modal__img">
          <img src="/src/images/team_Mariya.jpg" alt="Mariya" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Mariia</p>
          <p class="about-modal__text--position">Scram <br> Developer</p>
          <a href="https://github.com/akymenko-m" target="_blank">
            <svg width="24" height="24">
              <use href="./images/github-icon.svg#github-icon"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="about-modal__item">
        <div class="about-modal__img">
          <img src="/src/images/team_Anna.jpg" alt="Anna" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Anna</p>
          <p class="about-modal__text--position">Developer</p>
          <a href="https://github.com/aniyavolfman" target="_blank">
            <svg width="24" height="24">
              <use href="./images/github-icon.svg#github-icon"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="about-modal__item">
        <div class="about-modal__img">
          <img src="/src/images/team_Katerina.jpg" alt="Katerina" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Katerina</p>
          <p class="about-modal__text--position">Developer</p>
          <a href="https://github.com/katefranchuk" target="_blank">
            <svg width="24" height="24">
              <use href="./images/github-icon.svg#github-icon"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="about-modal__item">
        <div class="about-modal__img">
          <img src="/src/images/team_Olesya.jpg" alt="Olesya" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Olesya</p>
          <p class="about-modal__text--position">Developer</p>
          <a href="https://github.com/Romanienkova" target="_blank">
            <svg width="24" height="24">
              <use href="./images/github-icon.svg#github-icon"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="about-modal__item">
        <div class="about-modal__img">
          <img src="/src/images/team_Alyona.jpg" alt="Alyona" />
        </div>
        <div class="about-modal__text">
          <p class="about-modal__text--name">Alyona</p>
          <p class="about-modal__text--position">Developer</p>
          <a href="https://github.com/AlenaFE61" target="_blank">
            <svg width="24" height="24">
              <use href="./images/github-icon.svg#github-icon"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>